.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  height: 100vh;
  /* background-image: url("../../assets/images/profile_photo2.JPG"); */
  background-color: #dedede;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.home__container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10rem;
}

.home__title {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 767px) {
  .home__container {
    align-items: flex-end;
    margin-left: 1rem;
  }

  .home__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .home__desc img {
    width: 340px;
  }
}
