* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #ffffff;
  --secondary: #000000;
}

/* 1 */
/* ::selection {
  background-color: #3498db;
  color: #fff;
} */

/* 2 */
/* ::selection {
  background-color: #95a5a6;
  color: #fff;
} */

/* 3 */
::selection {
  background-color: #34495e;
  color: #fff;
}
