.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px #92a1b026;
}

.nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  margin: 0 1rem;
}

.nav__logo {
  color: #000;
  text-decoration: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 3rem;
  margin-bottom: 0;
}

.nav__item a {
  color: #000;
  text-decoration: none;
}
.nav__link {
  position: relative;
}

.active a:after {
  background: #000;
  border-radius: 16px;
  top: 0.5rem;
  content: "";
  display: block;
  height: 0.18rem;
  left: 0;
  position: relative;
  transition: all 0.35s ease-out 0s;
  z-index: 10;
}

.nav__toggle {
  display: none;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.download__btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background: #000;
  color: #fff;
}

.download__btn:hover {
  background: #dedede;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .nav {
    height: 3rem;
    justify-content: space-between;
  }

  .nav__toggle {
    display: block;
  }

  .active a:after {
    background: #fff;
  }

  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem 0rem;
    background-color: #000;
    transition: 0.5s;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    position: relative;
    color: #fff !important;
  }

  .show {
    right: 0;
  }

  .nav__item {
    margin-bottom: 2rem;
  }

  .download__btn {
    background: #dedede;
    color: #000;
  }
}
