.projects {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  min-height: 100vh;
  background-color: #dedede;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.projects__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.project__card {
  min-width: 320px;
  padding: 40px 40px;
  width: 30%;
  height: 500px;
  border-radius: 10px;
}

.project__card-wrapper {
  word-wrap: break-word;
  align-items: center;
  background-clip: initial;
  background-color: initial;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.25rem;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5;
  opacity: 0.9;
  padding: 1.25rem;
  transition: all 0.5s ease 0s;
}

.project__card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card__title {
  text-align: center;
  font-weight: 800;
  margin: 10px 0;
}

.card__description {
  text-align: center;
}

.projects__page-title {
  width: 50vw;
  margin-top: 12rem;
}

.projects__page-title p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.projects__page-title span {
  color: cornflowerblue;
}

@media only screen and (max-width: 767px) {
  .project__card {
    height: 400px;
    padding: 40px 20px;
  }

  .card__title {
    font-size: 0.9rem;
  }

  .card__description {
    font-size: 0.8rem;
  }

  .projects__page-title {
    width: 80vw;
  }

  .projects__page-title p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
